<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IELTS Vocabulary</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
    <script src="vocabulary.js"></script>
</head>
<body>
    <div id="app">
        <div class="title-area">
            <img src="favicon.png" alt="Logo">
            <h1>雅思词汇表</h1>
            <p>根据雅思词汇真经整理</p>
        </div>
        <div class="filter-area">
            <div class="left">
                <label>
                    类别
                    <select v-model="category">
                        <option value="">全部</option>
                        <option 
                            v-for="(v, k) in vocabulary"
                            :value="k">{{k}}</option>
                    </select>
                </label>
            </div>
            <div class="right">
                
                <input type="text" v-model="keyword" placeholder="Keyword to search">
            </div>
        </div>
        <div class="main-area">
            <table>
                <thead>
                    <tr>
                        <th class="index">#</th>
                        <th class="word">词</th>
                        <th class="pos">词性</th>
                        <th class="meaning">词义</th>
                        <th class="example">例句</th>
                        <th class="extra">扩展</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="category of wordList">
                        <tr>
                            <td :colspan="6">{{category.label}}</td>
                        </tr>
                        <tr v-for="item of category.words"
                            :key="item.id">
                            <td>{{item.id}}</td>
                            <td><a target="_blank" :href="`https://dictionary.cambridge.org/dictionary/english-chinese-simplified/${item.word}`">{{item.word}}</a></td>
                            <td>{{item.pos}}</td>
                            <td>{{item.meaning}}</td>
                            <td>{{item.example}}</td>
                            <td>{{item.extra}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
    <footer>By Frank</footer>
    <script src="index.js"></script>
</body>
</html>