@font-face {
    font-family: DINRegular;
    src: url("DIN-Regular.otf");
}

* {
    box-sizing: border-box;
}

html {
    font-family: DINRegular, system-ui;
}

a:link, a:visited, a:hover, a:active {
    color: #cf0031;
}

#app {
    width: 70%;
    margin: auto;
}

.index,
.pos {
    word-break: keep-all;
    text-align: center;
}
.pos {
    font-style: italic;
    font-family: times;
}

.word,
.meaning {
    font-family: system-ui;
}

.example,
.extra {
    font-style: italic;
}

.category-label {
    border-left: 8px solid #f3f3f3;
    background-color: #f3f3f3;
}
.group-color-0 {
    border-left: 8px solid #c5e4d4;
}
.group-color-1 {
    border-left: 8px solid #fffdd7;
}
.group-color-2 {
    border-left: 8px solid #fae0bf;
}
.group-color-3 {
    border-left: 8px solid #f8c7dc;
}
.group-color-4 {
    border-left: 8px solid #c7cde7;
}

.title-area h1 {
    text-align: center;
}

.title-area p {
    text-align: center;
    font-weight: 200;
    font-size: 0.75em;
}

.filter-area {
    margin-top: 16px;
    display: flex;
}

.filter-area .left {
    flex: 1;
}

.filter-area .right {}


input {
    height: 35px;
    padding: 0.6em 1em;
    background: #fff;
    border: 1px solid #ebeef5;
    color: rgba(0, 0, 0, .87);
    border-radius: 0.28571429rem;
    outline: 0;
}

select {
    height: 35px;
    padding: 0.6em 1em;
    outline: 0;
    border: 1px solid #ebeef5;
    border-radius: 0.28571429rem;
    /* font-size: 1em; */
}

.main-area {
    margin-top: 16px;
    overflow-x: auto;
    max-width: 100vw;
    /* font-style: italic; */
}

.main-area table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: auto;
}

/* .main-area table tr:last-child td {
    border-bottom: 0;
} */

.main-area table thead {
    border: 8px solid #ebeef5;
}

.main-area table td,
.main-area table th {
    padding: 10px;
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
}

.main-area table th {
    padding: 16px 10px;
}

/* .main-area table td:last-child,
.main-area table th:last-child {
    border-right: none;
} */

/* .main-area table tbody tr:hover {
    background-color: #f8f8f8;
    font-style: italic;
} */

footer {
    padding: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #app {
        width: 100%;
    }
}